ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
select{
    margin: 0;
    padding: 0;
    margin: 0 5px;
}
.flavor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flavor-textarea-header, .flavor-codearea-header, .flavor-actions-bar{
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    display: block;
    padding: 8px;
    border: 2px solid #eee;
}
.flavor-textarea-header, .flavor-codearea-header{
    background-color: #eee;
    display: none;
    position: sticky;
    top: 0;
}

.flavor-action-btn, .flavor-primary-btn{
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
    img{
        width: 25px;
        height: 25px;
        display: block;
    }
}
.flavor-action-btn{
    background-color: #eee;
}
.flavor-primary-btn{
    background-color: white;
}

pre > code {
    display: block;
    height: 100%;
}
.flavor-textarea, .flavor-codearea{
    width: 80%;
    margin: 10px auto;
    border: 2px solid #eee;
    padding: 20px;
    resize: vertical;
    overflow: auto;
}
.flavor-img{
    margin: 5px;
    min-width: 600px;
    max-width: 100%;
    height: auto;
}